@model BaiTap.Models.SinhVienSach_tbl

<h4>SinhVienSach_tbl</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SuaThongTin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="IDSach" class="control-label"></label>
                <select asp-for="IDSach" class="form-control" asp-items="ViewBag.SachList"></select>
                <span asp-validation-for="IDSach" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDSinhVien" class="control-label"></label>
                <select asp-for="IDSinhVien" class="form-control" asp-items="ViewBag.SinhVienList"></select>
                <span asp-validation-for="IDSinhVien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayMuonSach" class="control-label"></label>
                <input asp-for="NgayMuonSach" class="form-control" />
                <span asp-validation-for="NgayMuonSach" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayTra" class="control-label"></label>
                <input asp-for="NgayTra" class="form-control" />
                <span asp-validation-for="NgayTra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
