@model BaiTap.Models.SinhVien_tbl

<div class="row">
    <div class="col-md-12">
        <form asp-action="ThemSinhVien"  method="post" id="AddForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TenSinhVien" class="control-label"> Tên Sinh Viên</label>
                <input asp-for="TenSinhVien" id="edittensinhvien" class="form-control" />
                <span asp-validation-for="TenSinhVien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MSSV" class="control-label">Mã Số Sinh Viên</label>
                <input asp-for="MSSV" id="editmssv" class="form-control" />
                <span asp-validation-for="MSSV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DienThoai" class="control-label">Số Điện Thoại</label>
                <input asp-for="DienThoai" id="editdienthoai" class="form-control" />
                <span asp-validation-for="DienThoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChi" class="control-label">Địa Chỉ</label>
                <input asp-for="DiaChi" id="editdiachi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <button type="submit" onsubmit="addComplete(event)" class="btn btn-primary">Thêm Sinh Viên mới</button>
            </div>
        </form>

    </div>
</div>



@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function addComplete(e) {
            e.preventDefault();
            Swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'Thêm Sinh Viên Thành Công',
                showConfirmButton: false,
                timer: 1500
            }).then(result => {
                if (result.isConfirmed) {
                    const myForm = document.getElementById('AddForm');
                    myForm.submit();
                }
            })
        }
    </script>
}
